<h1>New Bookmarker</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :movie,  collection: @movies%>
  <%= f.input :comment %>
  <%= f.submit 'Add'  %>
<% end %>
<%= link_to('List', lists_path) %>
